<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", "http://vk.com/id32747098" %></li>
      <li><a href="http://news.railstutorial.org/">RoR News</a></li>
    </ul>
  </nav>
</footer>